django
requests
gunicorn

# djangorestframework
# django-cors-headers
# markdown
# django-filter

# psycopg2
# psycopg2-binary

Celery
redis
django-redis

mixer
pytest
pytest-cov
pytest-django
snapshottest

