{% extends './_base.html' %}

{% load static %}

{% block title %}Авторизация{% endblock %}

{% block style %}
<style>
  p {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
  }
  .auth {
    padding: 7px 16px 8px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
    vertical-align: top;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #4a76a8;;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
  }
</style>
{% endblock %}

{% block content %}
<p>
  <a class="auth" href="{{ link }}">Авторизироваться</a>
</p>
{% endblock %}
